<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>New task</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="vertical-content" [formGroup]="task">
    <mat-form-field class="w-100">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
      <span *ngIf="task.controls.title.touched && task.controls.title.errors"
        >Required</span
      >
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Feature</mat-label>
      <mat-select formControlName="featureId" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let feature of getFeatures()" [value]="feature.id">
          {{ feature.title }}
        </mat-option>
      </mat-select>
      <span
        *ngIf="
          task.controls.featureId.touched && task.controls.featureId.errors
        "
        >Required</span
      >
    </mat-form-field>
    <app-priority
      [isError]="task.controls.priority.touched && task.controls.title.errors"
    ></app-priority>
    <mat-form-field class="w-100">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Estimated time</mat-label>
      <input matInput formControlName="estimatedTime" required />
      <span
        *ngIf="
          task.controls.estimatedTime.touched &&
          task.controls.estimatedTime.errors
        "
        >Required greater or equal 0</span
      >
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addTask()" mat-flat-button color="accent">Add</button>
  </mat-card-actions>
</mat-card>
