<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>New feature</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="vertical-content" [formGroup]="feature">
    <mat-form-field class="w-100">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <span
        *ngIf="feature.controls.title.touched && feature.controls.title.errors"
        >Required</span
      >
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority" required>
        <mat-option [value]="priority.Low">Low</mat-option>
        <mat-option [value]="priority.Medium">Medium</mat-option>
        <mat-option [value]="priority.High">High</mat-option>
      </mat-select>
      <span
        *ngIf="
          feature.controls.priority.touched && feature.controls.priority.errors
        "
        >Required</span
      >
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addFeature()" mat-flat-button color="accent">Add</button>
  </mat-card-actions>
</mat-card>
