<mat-toolbar color="primary">
  <span><mat-icon fontIcon="task_alt"></mat-icon> Manage Me</span>
  <span class="toolbar-spacer"></span>
  <span>Hello, Marek Zając</span>
</mat-toolbar>
<mat-sidenav-container class="nav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/app">Dashboard</a>
      <a mat-list-item routerLink="/app/features">Features</a>
      <a mat-list-item routerLink="/app/tasks">Tasks</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
