<mat-card class="details-card">
  <mat-card-header>
    <mat-card-title-group>
      <button routerLink="/app/features" mat-flat-button>Back</button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-content>
        <h1>Feature: {{ feature?.title }}</h1>
        <div class="property">
          Status: <b>{{ getStatus(feature!.status) }}</b>
        </div>
        <div class="property">
          Priority: <b>{{ getPriority(feature!.priority) }}</b>
        </div>
        <div>
          <h5>Description</h5>
          <div class="description">
            {{ feature?.description }}
          </div>
        </div>

        <div class="property property-small">
          Created on: <b>{{ feature?.createDate | date }}</b>
        </div>
        <div *ngIf="isInProgress()" class="property property-small">
          Started on: <b>{{ feature?.startDate | date }}</b>
        </div>
        <div *ngIf="isFinished()" class="property property-small">
          Finished on: <b>{{ feature?.finishDate | date }}</b>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tasks</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="getTasks()">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              {{ getStatus(element.status) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/app/task', 'details', element.id]">Details</a>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="['title', 'status', 'actions']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['title', 'status', 'actions']"
          ></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="!isFinished()"
      (click)="finishFeature()"
      color="primary"
      mat-flat-button
    >
      Finish
    </button>
    <button
      [routerLink]="['/app/feature/update/', id]"
      color="accent"
      mat-flat-button
    >
      Edit
    </button>
    <button (click)="deleteFeature()" mat-flat-button color="warn">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
