/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vertical-content {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
}

.w-100 {
  width: 100%;
}
