@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~bootstrap/dist/css/bootstrap-utilities.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vertical-content {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
}

.w-100 {
  width: 100%;
}

.form-card {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.border {
  border: 1px solid #999;

  &-left {
    border-left: 1px solid #999;
  }

  &-right {
    border-right: 1px solid #999;
  }
}
