<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Tasks</mat-card-title>
      <button routerLink="/app/task/add" mat-flat-button color="accent">
        New task
      </button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div class="row" cdkDropListGroup>
      <div class="col border-right">
        <app-task-list-column
          title="To do"
          [data]="toDo"
          (dropEvent)="moveTask($event, status.ToDo)"
        ></app-task-list-column>
      </div>
      <div class="col border-right">
        <app-task-list-column
          title="Doing"
          [data]="doing"
          (dropEvent)="moveTask($event, status.Doing)"
        ></app-task-list-column>
      </div>
      <div class="col">
        <app-task-list-column
          title="Done"
          [data]="done"
          (dropEvent)="moveTask($event, status.Done)"
        ></app-task-list-column>
      </div>
    </div>
  </mat-card-content>
</mat-card>
